body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
     background-image: url("./street_night_wet_155637_1920x1080.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     
   
}
.form{
    height: 500px;
    width: 500px;
    
     background-color: black;
     border: 2px solid gray;
     border-radius: 5%;
     box-shadow: -3px -3px 9px #e11616a2,
     3px 3px 7px rgba(173, 28, 28, 0.671);


}
h1{
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
input[type="button"] {
  position: absolute;
  left: 650px;
  top: 500px;
  background-color: transparent;
  height: 50px;
  width: 100px;
  border-radius: 5%;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid gray;
  cursor: pointer;
   
  }
  input[type="reset"] {
    position: absolute;
    left: 800px;
    top: 500px;
    background-color: transparent;
    height: 50px;
    width: 100px;
    border-radius: 5%;
    color: white;
    font-size: larger;
    border: none;
    border-bottom: 3px solid gray;
    cursor: pointer;
   
     
    }
    input[type="text"]{
        height:50px;
        width: 350px;
        position: absolute;
        left: 600px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid gray;
        color: white;
        font-size: large;
      
    }
    input[type="password"]{
        height:50px;
        width: 350px;
        position: absolute;
        left: 600px;
        top: 350px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid gray;
        color: white;
        font-size: large;

        
      
    }
    input:focus{
           border: none;
           border-bottom: 3px solid  gray;
           outline: none;
    }
    input:focus::placeholder{
       transform: translateY(-20px);
       transition: transform 1s;
      
 }
   
   
  